<div class="main-container">
  <h3>Find and edit investment</h3>
  <div class="find-card">
    <h5>Find Investment by ID</h5>
    <div class="form-row row">
      <div class="col-md-3">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Investment ID:</mat-label>
          <input
            matInput
            type="number"
            id="investmentId"
            [value]="id()"
            (input)="onIdInput($event)"
            placeholder="Enter Investment ID"
          />
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <button
          (click)="findInvestment()"
          [disabled]="id() === null"
          type="button"
          matButton="filled"
          class="find-btn"
        >
          Find Investment
        </button>
      </div>
    </div>
  </div>
  @if (loading()) {
  <div class="info">Loading...</div>
  } @if (error()) {
  <div class="error">{{ error() }}</div>
  } @if (investment()) {
  <div class="result">
    <h3>
      {{ investment()!.name }}
      <button type="button" matButton="outlined" (click)="onEditInvestment(investment())">
        Edit Investment
      </button>
    </h3>
    <ul>
      @for (field of fields(); track field.label) {
      <li>
        <strong class="label">{{ field.label }}:</strong>{{ field.value }}
      </li>
      }
    </ul>
  </div>
  } @else {
  <div class="muted">Enter an ID to view the investment</div>
  } @if (isShowEditInvestmentForm()) {
  <div class="form-section">
    <form novalidate #form="ngForm">
      <div class="row mt-3">
        <div class="col-md-4 mb-3">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input
              type="text"
              matInput
              [(ngModel)]="investmentObj.name"
              name="name"
              required
              #name="ngModel"
              autocomplete="off"
            />
            @if (name.errors?.['required'] && name.touched) {
            <mat-error>Name is required</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-md-4 mb-3">
          <mat-form-field appearance="outline">
            <mat-label>Type</mat-label>
            <mat-select [(ngModel)]="investmentObj.type" name="type" required #type="ngModel">
              @for (type of typeList; track type) {
              <mat-option [value]="type">{{ type }}</mat-option>
              }
            </mat-select>
            @if (type.errors?.['required'] && type.touched) {
            <mat-error>Type is required</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="col-md-4 mb-3">
          <mat-form-field appearance="outline">
            <mat-label>Amount</mat-label>
            <input
              type="number"
              matInput
              [(ngModel)]="investmentObj.amount"
              name="amount"
              required
              #amount="ngModel"
              autocomplete="off"
            />
            @if (amount.errors?.['required'] && amount.touched) {
            <mat-error>Amount is required</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="col-md-4 mb-3">
          <mat-form-field>
            <mat-label>Purchase Date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              name="purchaseDate"
              #purchaseDate="ngModel"
              [(ngModel)]="investmentObj.purchaseDate"
              required
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if (purchaseDate.errors?.['required'] && purchaseDate.touched) {
            <mat-error>Purchase Date is required</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="col-md-4 mb-3">
          <mat-form-field appearance="outline">
            <mat-label>Current Value</mat-label>
            <input
              type="number"
              matInput
              [(ngModel)]="investmentObj.currentValue"
              name="currentValue"
              required
              #currentValue="ngModel"
              autocomplete="off"
            />
            @if (currentValue.errors?.['required'] && currentValue.touched) {
            <mat-error>Current Value is required</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <button
        matButton="filled"
        type="button"
        (click)="onEdit()"
        [disabled]="form.invalid"
        class="mt-3"
      >
        Edit
      </button>
    </form>
  </div>
  }
</div>
